@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    color: rgb(51, 56, 100);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.link__primary {
    color: #f7fafc;
    background-color: #6949f5;
    padding: 12px 32px;
    border-radius: 24px;
    transition: 300MS ease;
}

.link__primary:hover {
    background-color: #370f89;
}

button.link__primary {
    border: none;
}

p {
    color: #243e63;
}

.text__color {
    color: #6949f5;
}

.section__title {
    color: #6949f5;
    font-size: 20px;
}

.section__heading {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.section__para {
    color: #243e63;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 16px;
    width: 50%;
}

.section__btn {
    margin-top: 32px;
    font-weight: bold;
}





/* 

NAV

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 12px;
    width: 40px;
}

.nav__logo--link {
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
}

.nav__logo--link:hover {
    color: #6949f5;
}

.nav__link--style {
    color: #243e63;
    padding-bottom: 3px;
}

.nav__link--space {
    margin-left: 48px !important;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms ease;
}

.nav__link--line:hover {
    color: #6949f5;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1.5px;
}

/* 


MENU 


*/ 

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #6949f5;
    display: none;
}

.btn__menu:hover {
    opacity: 0.5;
    cursor: pointer;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
  }
  
.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
  }
  
.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.menu__list {
    padding: 32px;
  }
  
.menu__link {
    font-size: 40px;
    color: #f7fafc;
  }
  
.btn__menu--close {
    position: absolute;
    right: 28px;
    top: 10px;
    padding: 8px;
    color: #f7fafc;
  }


  /* 


  HEADER


  */ 

  .header {
    display: flex;
  }

  .header__column {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    width: 40%;
  }

  .header__title {
    font-size: 48px;
    color: #242424;
  }

.header__info {
    font-size: 18px;
    margin: 32px 0;
}

.header__input {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    text-align: center;
}

.header__input input {
    width: 100%;
    padding: 20px 190px 20px 30px;
    font-size: 100%;
    font-weight: 500;
    border: 2px solid #e5e7eb;
    border-radius: 32px;
    transition-property: border-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.header__input .header__button {
    position: absolute;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 160px;
    line-height: 1;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding: 16px 0;
    font-size: 100%;
    border: 0px;
    transition: all 300ms ease;
}

.header__customer {
    margin-top: 48px;
}

.header__customer--para {
    color: #878a88;
    font-size: 16px;
    font-weight: bold;
}

.header__customer--img {
    width: 90%;
    opacity: 0.7;
}

.header__img {
    position: relative;
    width: 60%;
}


/*

FEATURES

*/

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 118px;
    margin: 0 auto;
}

.features__para {
    text-align: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 8px;
    flex-direction: row;
    align-items: start;
    text-align: left;
}

.service__logo {
    border: 1px solid #a0aec0;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.service__text {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
    width: 60%;
}

.service__text--title {
    color: #243e63;
    font-weight: bold;
}

.service__text--para {
    margin-top: 16px;
    line-height: 2;
    color: #243e63;
    opacity: 0.8;
    font-weight: 500;
}

/* 

WORK 

*/ 

.work__row {
    display: flex;
}

.work__text {
    width: 50%;
    margin-right: 64px;
    text-align: left;
    padding: 32px 0;
}

.work__para {
    width: 100%;
}

.work__img {
    width: 50%;
    display: flex;
    align-items: center;
}

.work__img--pic {
    width: 100%;
    height: auto;
    border: 1px solid #a0aec0;
}


/* 

STEPS

*/


.steps__row {
    display: flex;
}

.steps__img {
    width: 50%;
    padding: 32 0;
    display: flex;
    align-items: center;
}

.steps__img--pic {
    width: 100%;
}

.steps__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.steps__list {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    font-weight: 600;
    color: #a0aec0;
    opacity: 0.7;
}

.step__info {
    margin-left: 20px;
    margin-top: 0px;
}

.step__info--title {
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 12px;
}

.step__info--para {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    line-height: 2;
    font-weight: 600;
    font-size: 14px;
    color: #243e63;
    opacity: 0.8;
}
