@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    color: rgb(51, 56, 100);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.link__primary {
    color: #f7fafc;
    background-color: #6949f5;
    padding: 12px 32px;
    border-radius: 24px;
    transition: 300MS ease;
}

.link__primary:hover {
    background-color: #370f89;
}

button.link__primary {
    border: none;
}

p {
    color: #243e63;
}

.text__color {
    color: #6949f5;
}

.section__title {
    color: #6949f5;
    font-size: 20px;
}

.section__heading {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.section__para {
    color: #243e63;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 16px;
    width: 50%;
}

.section__btn {
    margin-top: 32px;
    font-weight: bold;
}





/* 

NAV

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 12px;
    width: 40px;
}

.nav__logo--link {
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
}

.nav__logo--link:hover {
    color: #6949f5;
}

.nav__link--style {
    color: #243e63;
    padding-bottom: 3px;
}

.nav__link--space {
    margin-left: 48px !important;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms ease;
}

.nav__link--line:hover {
    color: #6949f5;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1.5px;
}

/* 


MENU 


*/ 

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #6949f5;
    display: none;
}

.btn__menu:hover {
    opacity: 0.5;
    cursor: pointer;
}

.menu__backdrop {
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
  }
  
.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
  }
  
.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.menu__list {
    padding: 32px;
  }
  
.menu__link {
    font-size: 40px;
    color: #f7fafc;
  }
  
.btn__menu--close {
    position: absolute;
    right: 28px;
    top: 10px;
    padding: 8px;
    color: #f7fafc;
  }


  /* 


  HEADER


  */ 

  .header {
    display: flex;
  }

  .header__column {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    width: 40%;
  }

  .header__title {
    font-size: 48px;
    color: #242424;
  }

.header__info {
    font-size: 18px;
    margin: 32px 0;
}

.header__input {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    text-align: center;
}

.header__input input {
    width: 100%;
    padding: 20px 190px 20px 30px;
    font-size: 100%;
    font-weight: 500;
    border: 2px solid #e5e7eb;
    border-radius: 32px;
    transition-property: border-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.header__input .header__button {
    position: absolute;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 160px;
    line-height: 1;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding: 16px 0;
    font-size: 100%;
    border: 0px;
    transition: all 300ms ease;
}

.header__customer {
    margin-top: 48px;
}

.header__customer--para {
    color: #878a88;
    font-size: 16px;
    font-weight: bold;
}

.header__customer--img {
    width: 90%;
    opacity: 0.7;
}

.header__img {
    position: relative;
    width: 60%;
}


/*

FEATURES

*/

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 118px;
    margin: 0 auto;
}

.features__para {
    text-align: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 8px;
    flex-direction: row;
    align-items: start;
    text-align: left;
}

.service__logo {
    border: 1px solid #a0aec0;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.service__text {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
    width: 60%;
}

.service__text--title {
    color: #243e63;
    font-weight: bold;
}

.service__text--para {
    margin-top: 16px;
    line-height: 2;
    color: #243e63;
    opacity: 0.8;
    font-weight: 500;
}

/* 

WORK 

*/ 

.work__row {
    display: flex;
}

.work__text {
    width: 50%;
    margin-right: 64px;
    text-align: left;
    padding: 32px 0;
}

.work__para {
    width: 100%;
}

.work__img {
    width: 50%;
    display: flex;
    align-items: center;
}

.work__img--pic {
    width: 100%;
    height: auto;
    border: 1px solid #a0aec0;
}


/* 

STEPS

*/


.steps__row {
    display: flex;
}

.steps__img {
    width: 50%;
    padding: 32 0;
    display: flex;
    align-items: center;
}

.steps__img--pic {
    width: 100%;
}

.steps__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.steps__list {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    font-weight: 600;
    color: #a0aec0;
    opacity: 0.7;
}

.step__info {
    margin-left: 20px;
    margin-top: 0px;
}

.step__info--title {
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 12px;
}

.step__info--para {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    line-height: 2;
    font-weight: 600;
    font-size: 14px;
    color: #243e63;
    opacity: 0.8;
}

/* 


VALUES


*/

.values__row {
    display: flex;
}

.values__text {
    width: 50%;
    margin-right: 64px;
    text-align: left;
    padding: 32px 0;
}

.values__options {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.value {
 margin-right: 16px;
}

.value__heading {
    display: flex;
    align-items: center;
}

.value__heading--icon {
    border-radius: 50%;
    padding: 8px;
    font-size: 24px;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__heading--color-green {
    background-color: #9AE6B4;
    color: #4a7d5c;
    height: 100%;
    width: 100%;
}

.value__heading--color-red {
    background-color: #FEB2B2;
    color: #a46666;
}

.value__heading--title {
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
    line-height: 1;
    margin-left: 16px;
    padding: 4px 0;
}

.value__para {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    line-height: 1.625;
    font-weight: 400;
    font-size: 16px;
    color: #243e63;
    opacity: 0.8;
}

.values__para {
    width: 100%;
}

.values__img {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    padding: 64px 0;
}

.values__img--pic {
    width: 100%;
}


/* 


PRICING


*/ 


.pricing__row {
    display: flex;
    flex-direction: column;
}

.pricing__row--header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pricing__para {
    display: flex;
    text-align: center;
}

.plans {
    display: flex;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: space-between;
}

.plan {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    border-radius: 8px;
    padding: 8px 32px 0 32px;
    max-width: 360px;
    width: 100%;
    border: 1px solid lightgrey;
}



.plan__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.5;
}

.plan__header--title {
    font-size: 20px;
    font-weight: 700;
}

.plan-green .plan__header--title, .plan-red .plan__header--title {
    color: #1a202c;
}

.plan__header--price {
    font-size: 48px;
    font-weight: 700;
    margin: 4px 0;
}

.plan-green .plan__header--price, .plan-red .plan__header--price {
    color: #1a202c;
}

.plan__header--time {
    font-weight: 700;
    letter-spacing: 1.6;
}

.plan-green .plan__header--time, .plan-red .plan__header--time {
    color: #a0aec0;
    opacity: 1;
}

.plan__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.plan__content--audience {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
}

.plan-green .plan__content--audience, .plan-red .plan__content--audience {
    color: #1a202c;
}

.plan__content--feature {
    margin-top: 20px;
    font-weight: 500;
}

.plan-green .plan__content--feature, .plan-red .plan__content--feature {
    color: #1a202c;
}

.plan-green .plan__content--feature, .plan-red .plan__content--feature {
    color: #a0aec0;
}

.plan__button {
    padding: 32px;
}

.plan__button--buy-now-green, .plan__button--buy-now-white, .plan__button--buy-now-red {
    padding: 16px 32px;
    width: 100%;
    transition: all 300ms ease;
}

.plan__button--buy-now-green:hover, .plan__button--buy-now-white:hover, .plan__button--buy-now-red:hover {
    transform: scale(1.03);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* 

PLAN GREEN

*/ 

.plan-green {
    margin: 64px 0 0 0;
}

.plan__styled-green {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__button--buy-now-green {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    text-transform: uppercase;
}

/* 


PLAN MIDDLE 


*/ 

.plan-middle {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    margin: 64px 0 0 0;
}


.plan-middle .plan__header--title {
    color: #f7fafc;
}

.plan-middle .plan__header--price {
    color: #f7fafc;
}

.plan-middle .plan__header--time {
    color: #f7fafc;
}

.plan-middle .plan__content--audience {
    color: #f7fafc;
}

.plan-middle .plan__content--feature {
    color: #f7fafc;
}

.plan__button--buy-now-white {
    background: #f7fafc;
    color: #6949f5;
    text-transform: uppercase;
}

.plan__button--buy-now-white:hover {
    background-color: #f7fafcc0;
}


/* 

PLAN RED

*/ 

.plan-red {
    margin: 64px 0 0 0;
}

.plan__styled-red {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__button--buy-now-red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    text-transform: uppercase;
}

/* 

Testimonial

*/


.testimonial__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonials__img {
    width: 50%;
    padding: 32px 0;
    display: flex;
    align-items: center;
}

.testimonial__section {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.testimonial__para {
    width: 100%;
}

.testimonial__list {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.testimonial {
    position: absolute;
    width: 100%;
}

.rating {
    margin: 30px 0 20px 0;
}


.testimonial__title {
    font-size: 24px;
    color: #243e63;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 12px;
}

.testimonial__description {
    width: 30%;
    line-height: 1.5;
    font-weight: 600;
    font-size: 18px;
    color: #243e63;
    opacity: 0.8;

}

.testimonial__profiles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.testimonial__profiles--info {
    width: fit-content;
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 20px;
}

.testimonial__name {
    font-size: 24px;
}

.testimonial__postion {
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

.testimonial__arrow {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.arrow__btn {
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    border: none;
}

.arrow__btn:hover {
    cursor: pointer;
}

.arrow__btn:hover .arrow {
    color: #6949f5;
}

.arrow {
    padding: 12px;
    background-color: rgb(241, 221, 221);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: #6949f5;
}
/* 

FAQs

*/

/* .faq__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs {
    margin-top: 50px;
    width: 100%;
    max-width: 900px;
}

.faq {
    background-color: rgb(207, 205, 205);
    border-radius: 10px;
    padding: 10px 40px;
    position: relative;
    height: 60px;
    overflow: hidden;
    transition: height 200ms;
    margin-bottom: 20px;
}

.faq__title {
    color: black;
    margin: 10px 0;
    font-size: 20px;
}

.faq__open {
    position: absolute;
    font-size: 20px;
    right: 30px;
    top: 20px;
    transition: transform 300ms ease;
}

.faq__description {
    color: gray;
    margin: 10px 0;
    font-size: 16px;
    line-height: 24px;
}

.faq__chevron--up {
    transform: rotate(-180deg);
}

faq__expand {
    height: 170px;
} */

.faq__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs{
    width: 90%;
    max-width: 100px;
    margin: 32px auto;
}

.faq {
    background-color: rgb(231, 231, 231);
    margin: 16px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.faq__expand {
    height: 170px;
}

.faq__title {
    color: black;
    margin: 10px 0;
    font-size: 20px;
}

.faq__description {
    color: gray;
    margin: 10px 0;
    font-size: 16px;
    line-height: 30px;
}

.faq__open {
    position: absolute;
    font-size: 20px;
    right: 30px;
    top: 20px;
    transition: transform 300ms ease;
}

.faq__arrow--up {
    transform: rotate(-180deg);
}


/*   


END SECTION


*/

.end {
    padding-top: 96px;
    padding-bottom: 96px;
    position: relative;
    background-color: rgb(100, 21, 255);
    opacity: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end__row {
    display: flex;
    margin: 0;
    align-items: center;
    padding: 0 32px;
    position: relative;
    text-align: left;
}

.end__row--info {
    width: 50%;
    max-width: 512px;
}


.end__row--info-title {
    font-size: 30px;
    font-weight: 700;
    color: #f7fafc;
}

.end__row--btn-1 {
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    background: #f56565;
    margin: 0 32px 0 0;
    padding: 20px 40px;
    border-radius: 32px;
    opacity: 1;
    transition: 300ms ease;
}

.end__row--btn-2 {
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 32px;
    transition: 300ms ease;
    margin: 0;
}

/* 


Footer

*/

footer {
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 32px;
    transition: 300ms ease;
    margin: 0;
}
    


