@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Inter', sans-serif;
    color: rgb(51, 56, 100);
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    padding: 80px 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.link__primary {
    color: #f7fafc;
    background-color: #6949f5;
    padding: 12px 32px;
    border-radius: 24px;
    transition: 300MS ease;
}

.link__primary:hover {
    background-color: #370f89;
}

button.link__primary {
    border: none;
}

p {
    color: #243e63;
}

.text__color {
    color: #6949f5;
}

.section__title {
    color: #6949f5;
    font-size: 20px;
}

.section__heading {
    color: #243e63;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
}

.section__para {
    color: #243e63;
    font-size: 20px;
    font-weight: 400;
    opacity: 0.8;
    margin-top: 16px;
    width: 50%;
}

.section__btn {
    margin-top: 32px;
    font-weight: bold;
}





/* 

NAV

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 12px;
    width: 40px;
}

.nav__logo--link {
    font-size: 24px;
    font-weight: 900;
    color: #243e63;
}

.nav__logo--link:hover {
    color: #6949f5;
}

.nav__link--style {
    color: #243e63;
    padding-bottom: 3px;
}

.nav__link--space {
    margin-left: 48px !important;
}

.nav__link {
    margin: 0 24px;
    font-size: 14px;
    font-weight: bold;
    transition: all 300ms ease;
}

.nav__link--line:hover {
    color: #6949f5;
    text-decoration: underline;
    text-underline-offset: 8px;
    text-decoration-thickness: 1.5px;
}

/* 


MENU 


*/ 

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #6949f5;
    display: none;
}

.btn__menu:hover {
    opacity: 0.5;
    cursor: pointer;
}

.menu__backdrop {
    position: absolute;
    background-color: #f4efef;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
  }
  
.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
  }
  
.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.menu__list {
    padding: 32px;
  }
  
.menu__link {
    font-size: 40px;
    color: #030303;
  }
  
.btn__menu--close {
    position: absolute;
    right: 28px;
    top: 10px;
    padding: 8px;
    color: #f7fafc;
  }


  /* 


  HEADER


  */ 

  .header {
    display: flex;
  }

  .header__column {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    width: 40%;
  }

  .header__title {
    font-size: 48px;
    color: #242424;
  }

.header__info {
    font-size: 18px;
    margin: 32px 0;
}

.header__input {
    display: flex;
    justify-content: space-between;
    max-width: 450px;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    text-align: center;
}

.header__input input {
    width: 100%;
    padding: 20px 190px 20px 30px;
    font-size: 100%;
    font-weight: 500;
    border: 2px solid #e5e7eb;
    border-radius: 32px;
    transition-property: border-color;
    transition-duration: 300ms;
    transition-timing-function: ease;
}

.header__input .header__button {
    position: absolute;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 160px;
    line-height: 1;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding: 16px 0;
    font-size: 100%;
    border: 0px;
    transition: all 300ms ease;
}

.header__customer {
    margin-top: 48px;
}

.header__customer--para {
    color: #878a88;
    font-size: 16px;
    font-weight: bold;
}

.header__customer--img {
    width: 90%;
    opacity: 0.7;
}

.header__img {
    position: relative;
    width: 60%;
}


/*

FEATURES

*/

.features__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 118px;
    margin: 0 auto;
}

.features__para {
    text-align: center;
}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.service {
    display: flex;
    width: calc(100% / 3);
    padding: 32px 8px;
    flex-direction: row;
    align-items: start;
    text-align: left;
}

.service__logo {
    border: 1px solid #a0aec0;
    padding: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.service__text {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 16px;
    width: 60%;
}

.service__text--title {
    color: #243e63;
    font-weight: bold;
}

.service__text--para {
    margin-top: 16px;
    line-height: 2;
    color: #243e63;
    opacity: 0.8;
    font-weight: 500;
}

/* 

WORK 

*/ 

.work__row {
    display: flex;
}

.work__text {
    width: 50%;
    margin-right: 64px;
    text-align: left;
    padding: 32px 0;
}

.work__para {
    width: 100%;
}

.work__img {
    width: 50%;
    display: flex;
    align-items: center;
}

.work__img--pic {
    width: 100%;
    height: auto;
    border: 1px solid #a0aec0;
}


/* 

STEPS

*/


.steps__row {
    display: flex;
}

.steps__img {
    width: 50%;
    padding: 32 0;
    display: flex;
    align-items: center;
}

.steps__img--pic {
    width: 100%;
}

.steps__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.steps__list {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    font-weight: 600;
    color: #a0aec0;
    opacity: 0.7;
}

.step__info {
    margin-left: 20px;
    margin-top: 0px;
}

.step__info--title {
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 12px;
}

.step__info--para {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    line-height: 2;
    font-weight: 600;
    font-size: 14px;
    color: #243e63;
    opacity: 0.8;
}

/* 


VALUES


*/

.values__row {
    display: flex;
}

.values__text {
    width: 50%;
    margin-right: 64px;
    text-align: left;
    padding: 32px 0;
}

.values__options {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}

.value {
 margin-right: 16px;
}

.value__heading {
    display: flex;
    align-items: center;
}

.value__heading--icon {
    border-radius: 50%;
    padding: 8px;
    font-size: 24px;
    max-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.value__heading--color-green {
    background-color: #9AE6B4;
    color: #4a7d5c;
    height: 100%;
    width: 100%;
}

.value__heading--color-red {
    background-color: #FEB2B2;
    color: #a46666;
}

.value__heading--title {
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
    line-height: 1;
    margin-left: 16px;
    padding: 4px 0;
}

.value__para {
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
    margin-top: 16px;
    line-height: 1.625;
    font-weight: 400;
    font-size: 16px;
    color: #243e63;
    opacity: 0.8;
}

.values__para {
    width: 100%;
}

.values__img {
    width: 50%;
    flex-shrink: 0;
    position: relative;
    padding: 64px 0;
}

.values__img--pic {
    width: 100%;
}


/* 


PRICING


*/ 


.pricing__row {
    display: flex;
    flex-direction: column;
}

.pricing__row--header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pricing__para {
    display: flex;
    text-align: center;
    max-width: 600px;
}

.plans {
    display: flex;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: space-between;
}

.plan {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    border-radius: 8px;
    padding: 8px 32px 0 32px;
    max-width: 360px;
    width: 100%;
    border: 1px solid lightgray;
}



.plan__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    line-height: 1.5;
}

.plan__header--title {
    font-size: 20px;
    font-weight: 700;
}

.plan-green .plan__header--title, .plan-red .plan__header--title {
    color: #1a202c;
}

.plan__header--price {
    font-size: 48px;
    font-weight: 700;
    margin: 4px 0;
}

.plan-green .plan__header--price, .plan-red .plan__header--price {
    color: #1a202c;
}

.plan__header--time {
    font-weight: 700;
    letter-spacing: 1.6;
}

.plan-green .plan__header--time, .plan-red .plan__header--time {
    color: #a0aec0;
    opacity: 1;
}

.plan__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.plan__content--audience {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
}

.plan-green .plan__content--audience, .plan-red .plan__content--audience {
    color: #1a202c;
}

.plan__content--feature {
    margin-top: 20px;
    font-weight: 500;
}

.plan-green .plan__content--feature, .plan-red .plan__content--feature {
    color: #1a202c;
}

.plan-green .plan__content--feature, .plan-red .plan__content--feature {
    color: #a0aec0;
}

.plan__button {
    padding: 32px;
}

.plan__button--buy-now-green, .plan__button--buy-now-white, .plan__button--buy-now-red {
    padding: 16px 32px;
    width: 100%;
    transition: all 300ms ease;
}

.plan__button--buy-now-green:hover, .plan__button--buy-now-white:hover, .plan__button--buy-now-red:hover {
    transform: scale(1.03);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

/* 

PLAN GREEN

*/ 

.plan-green {
    margin: 64px 0 0 0;
}

.plan__styled-green {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__button--buy-now-green {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    text-transform: uppercase;
}

/* 


PLAN MIDDLE 


*/ 

.plan-middle {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
    margin: 64px 0 0 0;
}


.plan-middle .plan__header--title {
    color: #f7fafc;
}

.plan-middle .plan__header--price {
    color: #f7fafc;
}

.plan-middle .plan__header--time {
    color: #f7fafc;
}

.plan-middle .plan__content--audience {
    color: #f7fafc;
}

.plan-middle .plan__content--feature {
    color: #f7fafc;
}

.plan__button--buy-now-white {
    background: #f7fafc;
    color: #6949f5;
    text-transform: uppercase;
}

.plan__button--buy-now-white:hover {
    background-color: #f7fafcc0;
}


/* 

PLAN RED

*/ 

.plan-red {
    margin: 64px 0 0 0;
}

.plan__styled-red {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__button--buy-now-red {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    text-transform: uppercase;
}

/* 

Testimonial

*/


.testimonial__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.testimonials__img {
    width: 50%;
    padding: 32px 0;
    display: flex;
    align-items: center;
}

.testimonial__section {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 64px;
}

.testimonial__para {
    width: 100%;
}

.testimonial__list {
    width: 100%;
    height: 450px;
    overflow: hidden;
}

.testimonial {
    position: absolute;
    width: 100%;
}

.rating {
    margin: 30px 0 20px 0;
}


.testimonial__title {
    font-size: 24px;
    color: #243e63;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 12px;
}

.testimonial__description {
    width: 30%;
    line-height: 1.5;
    font-weight: 600;
    font-size: 18px;
    color: #243e63;
    opacity: 0.8;

}

.testimonial__profiles {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.testimonial__profiles--info {
    width: fit-content;
    display: flex;
    align-items: center;
}

.testimonial__img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-right: 20px;
}

.testimonial__name {
    font-size: 24px;
}

.testimonial__postion {
    font-size: 16px;
    font-weight: 600;
    color: gray;
}

.testimonial__arrow {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.arrow__btn {
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    border: none;
}

.arrow__btn:hover {
    cursor: pointer;
}

.arrow__btn:hover .arrow {
    color: #6949f5;
}

.arrow {
    padding: 12px;
    background-color: rgb(241, 221, 221);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: #6949f5;
}
/* 

FAQs

*/


.faq__row {
    width: 90%;
    max-width: 1000px;
    margin: 32px auto;
}

.faqs__question{
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
}

.faq {
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    padding: 10px 40px;
    position: relative;
    height: 60px;
    overflow: hidden;
    transition: height 200ms;
    margin-bottom: 20px;
    max-width: 90%;

}

.faq__expand {
    height: 170px;
}

.faq__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.faq__title {
    color: black;
    margin: 10px 0;
    font-size: 20px;
}

.faq__description {
    color: gray;
    margin: 10px 0;
    font-size: 16px;
    line-height: 30px;
    width: 80%;
}

.faq__open {
    position: absolute;
    font-size: 20px;
    right: 30px;
    top: 20px;
    transition: transform 300ms ease;
    color: black;
}


.faq__arrow--up {
    transform: rotate(-180deg);
}

/*   


END SECTION


*/

.end {
    padding-top: 96px;
    padding-bottom: 96px;
    position: relative;
    background-color: #6949f5;
    opacity: 1;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.end__row {
    display: flex;
    margin: 0;
    align-items: center;
    padding: 0 32px;
    position: relative;
    text-align: left;
}

.end__row--info {
    width: 50%;
    max-width: 512px;
}


.end__row--info-title {
    font-size: 30px;
    font-weight: 700;
    color: #f7fafc;
}

.end__row--btn-1 {
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    background: #f56565;
    margin: 0 32px 0 0;
    padding: 20px 40px;
    border-radius: 32px;
    opacity: 1;
    transition: 300ms ease;
}

.end__row--btn-2 {
    color: #f7fafc;
    font-size: 16px;
    font-weight: 700;
    padding: 20px 40px;
    border: 1px solid white;
    border-radius: 32px;
    transition: 300ms ease;
    margin: 0;
}

/* 


Footer

*/

footer {
    position: relative;
    margin: 96px -32px -32px -32px;
    opacity: 1;
    background-color: #6949f5;
    padding: 96px 32px;
    color: #f7fafc;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100% / 5);
}

.link__title {
    font-weight: 700;
    font-size: 16px;
    color: #f7fafc;
    text-transform: uppercase;

}

.link__list {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.link__list--content {
    margin-top: 14px;
    font-size: 14px;
    font-weight: 500;
    color: #f7fafc;
}

.link-list--style {
    transition: all 300ms ease-in;
}

.link-list--style:hover {
    color: #f7fafc;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1.5px;
}


 .divider {
    margin: 64px 0;
    width: 100%;
    border: 1px solid lightgray;
    opacity: 1;
 }   


.footer__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__info--logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    width: 32px;
}

.footer__logo--title {
    margin-left: 8px;
    font-size: 900;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #f7fafc;
}

.footer__info--copyright {
    text-align: center;
    color: #f7fafc;
    opacity: 1;
}

.footer__info-links {
    display: flex;
}

.footer__info--link {
    margin-right: 16px;
    cursor: pointer;
    border-radius: 50%;
    opacity: 1;
    background-color: #f7fafc;
    padding: 8px;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.footer__info--link:hover {
    background-color: #979ca2;
}

/* SMALL PHONES, TABLETS LARGE SMARTPHONES */ 

@media (max-width: 1200px) {
    .pricing__row {
        width: 70%;
    }

    .plans {
        display: flex;
        flex-direction: column;
    }

    .plan {
        margin-top: 32px;
    }
}

@media (max-width: 1024px) {
    .container {
        padding: 60px 0;
    }

    .row{
        max-width: 1010px;
        width: 100%;
    }

    .section__title {
        font-size: 20px;
    }
    
    .section__heading {
        font-size: 36px;
    }
    
    .section__para {
        font-size: 18px;
        width: 100%;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__column {
        text-align: center;
        width: 70%;
    }

    .header__title {
        font-size: 36px;
    }

    .header__info {
        font-size: 20px;
    }

    .header__input {
        font-size: 14px;
        margin: 0 auto;
    }

    .header__customers {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__customers--para {
        font-size: 14px;
    }

    .header__customers--img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .features__row {
        width: 70%;
    }

    .features__para {
        text-align: center;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
    }

    .service {
        width: calc(100% / 3);
    }

    .service__text--para {
        line-height: 1.5;
    }

    .work__img {
        display: flex;
        justify-content: center;
        margin: 32px 0;
    }

    .values__row {
        width: 100%;
        position: relative;
    }

    .values__options {
        display: flex;
        flex-direction: column;
    }

    .value {
        margin-top: 16px;
    }

    .values__img {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    .end__row {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .end__row--info {
        font-size: 32px;
        width: 100%;
        text-align: center;
    }

    .end__row--btn {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
    }

    .footer__info--link {
        font-size: 18px;
    }

}

@media (max-width: 900px) {
    .pricing__row {
        width: 100%;
    }

    .plans {
        display: flex;
        flex-direction: column;
    }

    .plan {
        margin-top: 32px;
    }

    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
      }
  }


  @media (max-width: 820px) {
    .features__row{
        width: 100%;
    }

    .features__row .section__heading {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .faq__expand {
        height: 190px;
    }

  }

  @media (max-width: 768px) {

    .testimonial__row {
        display: flex;
        flex-direction: column;
    }

    .testimonial {
        height: 400px;
    }
  }


@media (max-width: 600px) {

    .container {
        padding: 48px 0;

    }

    .row {
        max-width: 600px;
        width: 100%;
    }

    .section__title {
        font-size: 18px;
    }
    
    .section__heading {
        font-size: 26px;
        text-align: center;
        width: 100%;
        
    }
    
    .section__para {
        font-size: 16px;
        width: 100%;
        line-height: 1.5;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__landing {
        text-align: center;
        width: 100%;
    }

    .header__title {
        font-size: 36px;
    }

    .header__description {
        font-size: 20px;
    }

    .header__input {
        font-size: 14px;
        margin: 0 auto;
    }

    .header__input {
        display: flex;
        flex-direction: column;
    }

    .header__input .header__button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 100%;
        padding: 22px 0;
        border-radius: 32px;
        font-weight: bold;
        font-size: 16px; 
        margin-top: 8px
        ;
    }

    .header__customer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__customer--para {
        font-size: 14px;
    }

    .header__customer--img {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .header__img {
        margin: 0 auto;
        width: 80%;
    }

    .features__row {
        width: 70%;
    }


    .features__para {
        text-align: center;
        width: 100%;
    }

    .features__divider {
        margin-top: 30px;
        width: 100%;
    }

    .services {
        display: flex;
        flex-wrap: wrap;
    }

    .service {
        width: calc(100% / 1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .service__logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .service__text {
        text-align: center;
        margin: 16px 0 0 0;
        width: 100%;
    }

    .service__text--para {
        line-height: 1.5;
    }

    .work__row {
        display: flex;
        flex-direction: column-reverse;
    }
    
    .work__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 80%;
    } 

    .work__para {
        width: 100%;
    }

    .work__img {
        margin: 0 auto;
        width: 90%;
    }

    .work__img--pic {
        width: 100%;
    }

    .steps__row {
        display: flex;
        flex-direction: column;
    }

    .steps__img {
        margin: 0 auto;
        width: 90%;
    }

    .steps__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        width: 80%; 
    }

    .step {
       display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .step__info {
        margin: 12px 0 0 0;
    }

    .values__row {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
    }

    .values__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    .values__options {
        text-align: center;
        margin: 0 auto;
    }

    .value {
        margin-top: 16px;
    }

    .value__heading {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
    }

    .value__heading--icon {
        font-size: 20px;
    }

    .values__img {
        margin: 0 auto;
        width: 90%;
    }

    .testimonial__row {
        display: flex;
        flex-direction: column;
    }

    .testimonial__img {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-bottom: 40px;
    }

    .testimonial__section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;
    }

    .end__row {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .end__row--info {
        width: 100%;
        text-align: center;
    }

    .end__row--info-title {
       font-size: 20px; 
    }

    .end__row--btn {
        display: flex;
        flex-direction: column;
    }

    .end__row--btn-1, .end__row--btn-2 {
        margin: 20px 0 0 0;
        font-size: 14px;
    }

    .links {
        display: flex;
        justify-content: space-between;
    }

    .link {
        width: calc(100% / 5);
    }

    .link__title {
        font-size: 12px;
    }

    .link-list--style {
        font-size: 8px;
    }

    

    .footer__info {
        display: flex;
        flex-direction: column;
    }

    .footer__info--copyright {
        margin-top: 20px;
    }

    .footer__info--links {
        margin-top: 20px;
    }

    .footer__info--link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
    }

}

@media (max-width: 563px) {
    .faq__expand {
        height: 270px;
    }

    .testimonial {
        height: 500px;
    }
}

@media (max-width: 510px) {
    .faq__title {
        font-size: 12px;
    }

    .faq {
        height: 50px;
    }

    .faq__expand {
        height: 230px;
    }

    .faq__description {
        font-size: 12px;
    }

    .faq__open {
        top: 15px;
    }

    .input__container {
        margin: 20px 0;
    }
}

@media (max-width: 440px) {
    .section__heading {
        font-size: 30px;
    }

    .testimonial__postion {
        font-size: 12px;
    }

    .testimonial__name {
        font-size: 12px;
    }

    .faq__title {
        font-size: 10px;
    }

    .faq {
        height: 50px;
    }

    .faq__expand {
        height: 230px;
    }

    .faq__description {
        font-size: 10px;
    }

    .faq__open {
        top: 12px;
    }

}



